body {
  background-color: white;
  background-image: url(../img/silverware.jpg);
  color: #404040;
  font-family: Georgia, Garamond, serif;
  font-size: 11pt;
}

h1, h2 {
  letter-spacing: 0.25em;
}

h1 span, h2 span {
  background-color: #F0F0F0;
  color: #A4A400;
  font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
  text-decoration: underline;
}

h1 {
 font-size: 22pt;
 text-align: center;
}

.prep, .nav  {
  padding: 0;
}

.prep li, .nav  li {
  list-style-type: none;
  list-style-image: none;
}

h2 {
  font-size:  18pt;
  font-weight: normal;
}

ul li {
  list-style-image: url(../img/pie-icon.gif);
}

ol li span {
  font-weight: bold;
}

div {
  background-color: #FFFFA8;
  width: 90%;
  margin: auto;
}

.nav li a {
  color: #A4A400;
}
